<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style type="text/css">
            html {
                background-color: #f5f5f5;
                color: #55585d;
            }
            .header {
                padding: 20px;
                min-height: 50px;
            }
            .article {
                padding: 20px;
            }
            .footer {
                padding: 20px;
                text-align: center;
                min-height: 50px;
                color: #a9abac;
            }
        </style>
    </head>
    <body>
        <header class="header"></header>
        <article class="article">
            <p>{{ body }}</p>
        </article>
        <footer class="footer">
            <p>Have a nice day</p>
        </footer>
    </body>
</html>
